PORT=3000
OWNER_EMAIL=feelnothing.arg@gmail.com
RESEND_API_KEY=tu_api_key_de_resend
FROM_EMAIL=Feel Nothing <compras@feelnothing.com.ar>
SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key
SUPABASE_ORDERS_TABLE=orders
